include .gitattributes .gitignore
include LICENSE README.md SECURITY.md PKGBUILD
recursive-include .github *
recursive-include scripts *.py
recursive-include tests *.py
recursive-include tests/fixtures *
