include .gitattributes .gitignore
include LICENSE README.md SECURITY.md install.md PKGBUILD install.sh
recursive-include .github *
recursive-include scripts *.py
recursive-include tests *.py
recursive-include tests/fixtures *
